src/main/resources/wsdl/BookContentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:types="http://akh.ru/spring-ws/book-content" xmlns:tns="http://akh.ru/spring-ws/book-content-service"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookContentService" targetNamespace="http://akh.ru/spring-ws/book-content-service">

    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://akh.ru/spring-ws/book-content" schemaLocation="bookContent.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetContentRequest">
        <wsdl:part element="types:GetContentRequest" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetContentResponse">
        <wsdl:part element="types:GetContentResponse" name="result" />
    </wsdl:message>
    <wsdl:message name="PutContentRequest">
        <wsdl:part element="types:PutContentRequest" name="parameters" />
    </wsdl:message>

    <wsdl:portType name="BookContentService">
        <wsdl:operation name="GetContent">
            <wsdl:input message="tns:GetContentRequest" />
            <wsdl:output message="tns:GetContentResponse" />
        </wsdl:operation>
        <wsdl:operation name="PutContent">
            <wsdl:input message="tns:PutContentRequest" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BookContentServiceSOAP" type="tns:BookContentService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetContent">
            <soap:operation soapAction="http://akh.ru/spring-ws/book-content-service/GetContent" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PutContent">
            <soap:operation soapAction="http://akh.ru/spring-ws/book-content-service/PutContent" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BookContentService">
        <wsdl:port binding="tns:BookContentServiceSOAP" name="BookContentServiceSOAP">
            <soap:address location="http://localhost:8080/ws/bookContentService/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
